# Ignore bundler config.
backend/.bundle

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
backend/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
backend/storage/*
!/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
backend/config/master.key

frontend/node_modules

.env.local